.form{
    width: 406px;
}
.form fieldset{
    border-radius: 5px;
    margin-bottom: 10px;
}
.col{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.form .col{
    margin: 5px;
}